---
layout: base
---


<header>
    <img src="/static/img/header.svg">
</header>


<article>{{ content}}</article>

<footer>

<span class="fa-stack fa-sm">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-chain fa-stack-1x fa-inverse"></i>
</span> imm.cz

<span class="divider"></span>

<span class="fa-stack fa-sm">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
</span> fb.me/immstudios

<span class="divider"></span>

<span class="fa-stack fa-sm">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
</span> @immstudios

<span class="divider"></span>

<span class="fa-stack fa-sm">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
</span> github.com/immstudios

</footer>


